@model KnowIT.Models.Article

@{
    ViewData["Title"] = "Article Details";
}

<h2>Details</h2>

<div>
    <h4>@Model.Title</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Title</dt>
        <dd class="col-sm-10">@Model.Title</dd>

        <dt class="col-sm-2">Content</dt>
        <dd class="col-sm-10">@Model.Content</dd>

        <dt class="col-sm-2">Created At</dt>
        <dd class="col-sm-10">@Model.DateCreated.ToString("g")</dd>
    </dl>
</div>

<p>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</p>
