@model IEnumerable<KnowIT.Models.Article>

@{
	ViewData["Title"] = "Articles";
}
<h2>Articles</h2>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Content</th>
            <th>Created At</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var article in Model)
        {
            <tr>
                <td>@article.Title</td>
                <td>@article.Content</td>
                <td>@article.DateCreated.ToString("g")</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@article.Id" class="btn btn-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@article.Id" class="btn btn-Details">Edit</a>
                    <a asp-action="Delete" asp-route-id="@article.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Add New Article</a>